PUBLIC_SITE_URL=https://super-search-gamma.vercel.app
PUBLIC_GITHUB_URL=https://github.com/paanSinghCoder/super-search
PUBLIC_CHROME_STORE_URL=https://chromewebstore.google.com/detail/supersearch-vs-code-find/afnekfeaaamnbohoejlkbhnfefngahdh
